# Data Science 100 Group 008-05 Project Proposal

#### Zack Peachell, Jasper Palov, Arjun Saxena, Bhavya Dubey

\
\

## Introduction to our project:

## Preliminary exploratory data analysis:
\
from the dataset we have chosen!

In [1]:
# Run this cell to continue.
library(tidyverse)
library(repr)
library(tidymodels)
options(repr.matrix.max.rows = 6)
source('tests.R')
source('cleanup.R')

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.3     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.3     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors
── Attaching packages ────────────────────────────────────── tidymodels 1.1.1 ──

✔ broom        1.0.5     ✔ rsample      1.2.0
✔ dials        1.2.0     ✔ tune         1.1.2
✔ infer        1.0.4     ✔ workflows    1.1.3
✔ modeldata    1.2.0     ✔ workflowsets 1.0.1
✔ parsnip      1.1.1     ✔ yardstick    1.2.0
✔ recipes      1.0.8

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Dig deeper into tidy modeling with R at https://www.tmwr.org

Warning message in file(filename, "r", encoding = encoding):
“cannot open file 'tests.R': No such file or directory”

ERROR: Error in file(filename, "r", encoding = encoding): cannot open the connection

In [40]:
read_star <- read_csv("DATA/6 class csv.csv")
#these columns need renames

name_star <- read_star|>
                rename("Star_type" = "Star type")|>
                rename("Temperature_(K)" = "Temperature (K)")|>
                rename("Star_color" = "Star color")|>
                rename("Spectral_Class" = "Spectral Class")
name_star

Rows: 240 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (2): Star color, Spectral Class
dbl (5): Temperature (K), Luminosity(L/Lo), Radius(R/Ro), Absolute magnitude...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    Temperature_(K) Luminosity(L/Lo) Radius(R/Ro) Absolute magnitude(Mv)
1   3068            0.0024           0.1700       16.12
2   3042            0.0005           0.1542       16.60
3   2600            0.0003           0.1020       18.70
⋮   ⋮               ⋮                ⋮            ⋮
238  8829           537493           1423         -10.73
239  9235           404940           1112         -11.23
240 37882           294903           1783          -7.80
    Star_type Star_color Spectral_Class
1   0         Red        M
2   0         Red        M
3   0         Red        M
⋮   ⋮         ⋮          ⋮
238 5         White      A
239 5         White      A
240 5         Blue       O

We can see that this data is very tidy as it follows the criteria for tidy data, no overlapping variables, a single observtaion per cell, and most importantly is easily readable. The only item we had to address was renaming the columns as were spaces between words making it  Now, we should attempt to see how many of each spectral class we have, to see how many of each star we have. Ended tuesday dsci stuff here!

In [43]:
star_counted <- name_star|>
                group_by(Spectral_Class)|>
                summarize(count = n())
star_counted

  Spectral_Class count
1 A              19
2 B              46
3 F              17
⋮ ⋮              ⋮
5 K                6
6 M              111
7 O               40

## Methods

## Expected outcomes and significance